<div class="container text-center text-light">
  <ul class="list-group">
    <li class="list-group-item">Dog Profile</li>
    <li class="list-group-item list-group-item-primary">A simple primary list group item</li>
    <li class="list-group-item list-group-item-secondary">A simple secondary list group item</li>
    <li class="list-group-item list-group-item-success">Dog's breed is {{breed}}</li>
    <li class="list-group-item list-group-item-danger">Dog's weight is {{weight}}</li>
    <li class="list-group-item list-group-item-warning">Dog's age is {{age}}</li>
    <li class="list-group-item list-group-item-info">Dog's name is {{name}}</li>
    <li class="list-group-item list-group-item-light">Dog's Owner Name is {{OwnerName}}</li>
  </ul>
</div>